.a-mixin {
  text-decoration: none;
  font-size: 1.5rem;
  margin: 5px;
  padding: 3px 5px 3px 5px;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 700;
}
.tiny-view {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 10%;
  background-color: blue;
  flex-flow: column-reverse;
}
.tiny-view a {
  text-decoration: none;
  font-size: 1.5rem;
  margin: 5px;
  padding: 3px 5px 3px 5px;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 700;
}
.tiny-view a:hover {
  background-color: black;
  color: white;
  transition: 300ms;
}
.tiny-view a:active {
  background-color: #666666;
}
.tiny-view .header-h1 {
  margin-bottom: 15px;
  font-size: 2.5rem;
  font-weight: 600;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Russo One', sans-serif;
  color: #000000;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Ultra', serif;
  color: #000000;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 2rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header nav {
  padding-left: 70px;
}
header nav ul {
  display: flex;
  list-style-type: none;
  font-size: 2rem;
}
@media (max-width: 1350px) {
  header nav ul {
    justify-content: space-around;
  }
}
header nav ul li a {
  display: flex;
  align-content: center;
  text-decoration: none;
  color: #FFFFFF;
  padding: 0 50px 0 50px;
  margin-top: 70px;
}
@media (max-width: 900px) {
  header nav ul li a {
    justify-content: space-around;
    padding: 0 20px 0 20px;
  }
}
header nav ul li a:hover {
  background-color: white;
  color: black;
}
@media (max-width: 900px) {
  header nav {
    justify-content: space-around;
    padding-left: 0;
  }
}
body {
  background-image: url("../image/Background.PNG");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
@media (max-width: 1350px) {
  body {
    background-image: url("../image/tablet-mobile.PNG");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
}
.aboutVouch {
  display: flex;
  flex-direction: column;
  margin: 130px 0 20px 0;
  padding-bottom: 20px;
  border-bottom: 3px dashed blue;
}
.aboutVouch .reactButton {
  border: solid black 2px;
  border-radius: 6px;
  width: 100px;
  text-align: center;
  background-color: skyblue;
}
.gallery {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 20px;
}
.tl-about-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
