.a-mixin {
  text-decoration: none;
  font-size: 1.5rem;
  margin: 5px;
  padding: 3px 5px 3px 5px;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 700;
}
.tiny-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: blue;
  flex-flow: column-reverse;
}
.tiny-view a {
  text-decoration: none;
  font-size: 1.5rem;
  margin: 5px;
  padding: 3px 5px 3px 5px;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 700;
}
.tiny-view a:hover {
  background-color: black;
  color: white;
  transition: 300ms;
}
.tiny-view a:active {
  background-color: #666666;
}
.tiny-view .header-h1 {
  margin-bottom: 15px;
  font-size: 2.5rem;
  font-weight: 600;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #000000;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #000000;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header nav {
  display: flex;
  text-decoration: none;
}
header nav li a {
  display: flex;
  align-content: center;
  list-style-type: none;
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 2rem;
  padding-left: 15px;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: blue;
  flex-flow: column-reverse;
}
.nav-container a {
  text-decoration: none;
  font-size: 1.5rem;
  margin: 5px;
  padding: 3px 5px 3px 5px;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 700;
}
.nav-container a:hover {
  background-color: black;
  color: white;
  transition: 300ms;
}
.nav-container a:active {
  background-color: #666666;
}
.nav-container .header-h1 {
  margin-bottom: 15px;
  font-size: 2.5rem;
  font-weight: 600;
}
body {
  background-image: url("../image/Background.PNG");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.tl-about-page {
  padding-top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 500px) {
  .tl-about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 800px) {
  .tl-about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 1000px) {
  .tl-about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
