.tl-about-page {
    padding-top: 50px;
    .custom-flex(center, center);
    flex-direction: column;
    margin-top: @tenth-percent;
    margin-bottom: @two-percent;
}

.team-member {
    .getWidth(@maximum-percent);
    color: @txt-color;
    border: @black-thin-border;
    margin-bottom: @five-percent;

    h3 {
        padding-bottom: 1%;
    }
}

.ui-section-styling {
    .getWidth(@maximum-percent);
    .custom-flex(center, center);
    flex-direction: column;
}

.database-section-styling {
    .getWidth(@maximum-percent);
    .custom-flex(center, center);
}

.react-section-styling() {
    .getWidth(@one-hundred-percent);
    .custom-flex(center, center);
}