* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  html, body {
    font-family: 'Russo One', sans-serif;
    color: @txt-color;
  }
  
  h1, h2, h3, h4, h5 {
    font-family: 'Ultra', serif;
    color: @txt-color;
  }
  
  h2 {
    font-size: 3.2rem;
  }
  
  h3 {
    font-size: 2.8rem;
  }
  
  p {
    font-size: 2rem;
    line-height: 1.4;
  }
  
  .container {
    max-width: 800px;
    width: @maximum-percent;
    margin: 0 auto;  
  }

  body {
    background-image: url("../image/Background.PNG");
    background-size: 100vw;
    background-position: top;
    background-repeat: no-repeat;
    @media @imageChange{
        background-image:none;
    }
 }