header{

    nav{
        padding-left: 70px;
ul{
    display: flex;
    list-style-type: none;
    font-size: 2rem;
        li{ 
            a{ display: flex;
               align-content: center; 
               text-decoration: none;
               color: white;
               padding: 0 50px 0 50px;
               margin-top: 70px;
}
a:hover{
    background-color: white;
    color: black;
}
}
}

}

}