header{

    nav{
        display: flex;
        text-decoration: none;

        li a{
            display: flex;
            align-content: center; 
            list-style-type: none;
            text-decoration: none;
            list-style: none;
            color: white;
            font-size: 2rem;
            padding-left: 15px;

};

};

}

.nav-container{
    .tiny-view;
}